<h2 class="articles-heading">Article list</h2>
<br/>
<div class="btn-container">
  <%= link_to "Create new article", new_article_path, class: 'btn btn-primary btn-create-article'%>
</div>
<div align="center" class="center m-5">
  <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer)%>
</div>
<%= render 'article', obj: @articles%>